$primary-color: #03a9f3;
$background-color: #F6F8FA;
$sidebar-dark-color: #3a3f51;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
$font: Montserrat, Arial, 'sans-serif';